*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #101010f9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 */
.deli{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.where{
    color: white;
    font-size: 1 rem;
    margin-left: 3px;
}
.icon1{
    display: flex;
    align-items: center;
}
/* box3 */
.nav_search{
    height: 45px;
display: flex;
background-color: pink;
width: 620px;
justify-content: space-evenly;
border-radius: 4px;
margin-left: 20px;
}
.search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search_input{
    width: 100%;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;/*horizontally center*/
    align-items: center; /*vertically center*/
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav_search:hover{
    border: 2px solid #febd68;
}
/* box 4 */
.select_language{
    height: 45px;
    border-radius: 4px;
    background-color: #0f1111;
    color: white;
}
/* box 5 and 6. Works for them both.<3 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box 7 */
.nav_cart{
    height: 45px;
    display: flex;
      align-items: center;
}
.cart_icon{
    font-size: 1.5rem;
}
/* panel */
.panel{
    height: 40px;
    background-color: #1f2d3f;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}
.panelitem{
    font-size: 14px;
    font-weight: 700;
}
.panel-ops{
    width: 70%;
}
/* Hero Section */
.hero-section{
    height: 350px;
    background-size: cover;
    background-image: url("heroimage.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromessage{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 45px;
   }
.heromessage a{
    color: #007185;
}
/* Shop Section */
.shopsection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(147, 0, 69, 0.795);
}
.box{
    margin-top: -35px;
    width: 23%;
    height: 400px;
    background-color: white;
padding: 20px 0px 15px;
}
.box-img{
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 5px;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    color: #007185;
}

.shopsection2{
    margin-top: ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(147, 0, 69, 0.795);
}
.box2{
    margin-top: 35px;
    width: 23%;
    height: 400px;
    background-color: white;
padding: 20px 0px 15px;
}
/* FOOTER */
.footpanel{
    background-color: #1f2d3f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 5%;
    height: 50px;
}